<div class="callout large">
  <div class="text-center">
    <h1>PPU des Faubourgs</h1>
    <h2>Secteur 1 – Le Boulevard Ville-Marie et l’accès au pont Jacques-Cartier</h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="medium-8">
      <p>Le boulevard Ville-Marie correspond au tronçon situé entre le tunnel Ville-Marie et le pont Jacques-Cartier. Il comprend l’ensemble des voies de circulation dans l’axe du tunnel autoroutier et des rues Viger et Saint-Antoine. Il est indissociable des accès au pont Jacques- Cartier par la bretelle de sortie « Saint-Antoine » et la rue Notre-Dame, à hauteur de la brasserie Molson, avant de rejoindre l’avenue Papineau.</p>
      <p>Il s’inscrit dans un corridor est-ouest plus large qui dessert le centre-ville à l’ouest et le port de Montréal, via la rue Notre-Dame à l’est. Il est également le réceptacle des circulations en provenance et à destination de la rive sud via le pont Jacques-Cartier.</p>
      <p>Les voies de circulation ont été aménagées principalement pour supporter des débits importants et des vitesses élevées : largeur des voies, présence d’accotement, absence de trottoirs, réduction du nombre d’intersections avec le réseau local, utilisation de la rue Notre-Dame comme voie d’accès au pont.</p>
      <p>Cette configuration a des impacts notables sur les secteurs traversés et soulève de nombreux enjeux, d’autant plus dans le contexte des transformations urbaines à venir sur les sites de Radio-Canada et de la brasserie Molson-Coors.</p>
      <a href="assets/img/fiches/01/01.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/01/01.jpg"></a>
      <p class="image-caption text-center">Figure 1 - Plan de localisation</p>
  <ul class="zPPP accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Historique</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>La présence de l’autoroute Ville-Marie sous le centre-ville résulte d’un ancien projet qui prévoyait de relier les autoroutes 15 à l’ouest et 25 à l’est par le sud de l’île en assurant au passage la desserte du centre-ville, du port de Montréal et des secteurs industriels liés à la présence du port. Dès la fin des années 1940, plusieurs tracés sont proposés. L’une des options arrêtées devait traverser le centre-ville en surface, notamment entre les rues Saint-Paul et De La Commune, dans le Vieux-Montréal.</p>
        <a href="assets/img/fiches/01/02.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/01/02.jpg"></a>
        <p class="image-caption text-center">Figure 2 – le secteur en 1949 avant les démolitions liées à l’implantation de l’autoroute Ville-Marie et de Radio Canada</p>
        <p>Devant l’opposition soulevée par ce tracé, c’est finalement celui dans l’axe des rues Viger et Craig (aujourd’hui Saint-Antoine) qui sera choisi en 1963 puis mis en œuvre, selon une formule en tranchée plutôt que surélevée. S’agissant d’un secteur entièrement bâti à l’époque, la mise en œuvre de ce projet entraine la disparition de plusieurs dizaines d’îlots et de 1200 logements entre 1972 et 1975.</p>
        <p>Ainsi, en 1974, est inauguré le tronçon central de l’autoroute Ville-Marie entre la rue Guy et la rue Sanguinet, à l’ouest du square Viger. La bretelle Sanguinet lie alors l’autoroute inachevée au réseau viaire local.</p>
        <p>Cependant, la poursuite du projet vers l’est rencontre une opposition populaire et en 1975, la contestation relative au tracé de l’autoroute se cristallise autour de la prison des Patriotes. L’immeuble est finalement sauvé de la démolition, puis classé bâtiment patrimonial en 1978. Il est convenu alors que le tracé de l’autoroute passera au sud de la prison et de la maison du gouverneur (voir figure 2).</p>
        <p>En 1976, les travaux de l’autoroute sont arrêtés et le projet de poursuivre l’autoroute en tranchée est abandonné.</p>
        <div class="par">En 1980, le ministère des Transports du Québec annonce le projet du boulevard Ville-Marie qui comprend:
          <ul>
            <li>la construction d’un tunnel sous le square Viger (qui sera pour l'occasion démoli et reconstruit);</li>
            <li>une bretelle autoroutière rejoignant l’avenue Papineau pour assurer les accès au pont</li>
            <li>Jacques-Cartier via la rue Notre-Dame, devant la brasserie Molson;</li>
            <li>un boulevard de surface entre l'avenue Papineau et la rue Viau;</li>
            <li>des voies étagées vers l’est, à proximité du tunnel Louis-Hippolyte-La Fontaine.</li>
          </ul>
        </div>
        <p>Le tunnel Viger ouvre en 1982, et les tronçons du boulevard sont mis en opération jusqu’en 1987, à l’exception des voies étagées qui n’ont pas été réalisées.</p>
        <p>Depuis le début des années 2000, des études portant sur l’axe de la rue Notre-Dame entre le centre-ville et l’autoroute 25 ou sur le recouvrement de l’autoroute Ville-Marie au centre-ville ont émis différentes propositions pour la portion située dans le quartier Sainte-Marie, mais aucune n’a été mise en œuvre.</p>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Situation actuelle</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Le secteur situé entre la rue Amherst, le boulevard René-Lévesque, la rue Fullum et le fleuve représente un carrefour majeur pour les déplacements est-ouest et nord-sud. Il comprend la jonction entre l’autoroute Ville-Marie et le pont Jacques-Cartier, ainsi que plusieurs entrées du centre-ville et des accès vers le nord de la ville.</p>
        <div class="par">Actuellement, la configuration routière de ce secteur complexe fonctionne sur une dissociation des mouvements véhiculaires:
          <ul>
            <li>les trajets vers l’est de l’île, par le boulevard Ville-Marie puis la rue Notre-Dame à l’est du pont,</li>
            <li>les trajets vers le pont Jacques-Cartier, ou vers le nord via l’avenue de Lorimier, par l’utilisation de la rue Notre-Dame et de la bretelle Saint-Antoine.</li>
          </ul>
        </div>
        <a href="assets/img/fiches/01/03.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/01/03.jpg"></a>
        <p class="image-caption text-center">Figure 3 – La dissociation des circulations est-ouest et nord</p>
        <p>L’aménagement actuel de la fin de l‘autoroute en tranchée en direction est, la bretelle d’accès au pont Jacques-Cartier empruntant la rue Notre-Dame Est, la juxtaposition à certains endroits de douze voies de circulation et l’absence de trottoirs sur certaines rues ont transformé ce territoire autrefois habité en une coupure urbaine tant vers le fleuve que vers le pont. De plus, l’environnement autoroutier n’assure pas aux piétons des déplacements sécuritaires.</p>
        <p>Les impacts de cette coupure sont renforcés par la présence de grands terrains vides ou de stationnements de surface, face à Molson et entre l’avenue Papineau et le pont Jacques-Cartier.</p>
        <a href="assets/img/fiches/01/04.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/01/04.jpg"></a>
        <p class="image-caption text-center">Figure 4 –Carte des emprises routières et autoroutières</p>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Principaux enjeux</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Ce secteur compris entre le tunnel Ville-Marie et le parc du Pied-du-Courant, de part et d’autre du pont Jacques-Cartier, est une plaque tournante des échanges routiers nord-sud, est-ouest et interrives, en plus d’un des principaux corridors d’accès au centre-ville. Il en résulte un achalandage routier important, essentiellement de transit, qui génère une congestion fréquente aux heures de pointe, alors même que l’ensemble de ce territoire est presque entièrement dédié à la circulation routière.</p>
        <p>Des réponses sont donc à apporter aux enjeux suivants:</p>
        <ul class="issues">
          <li>Les voies de circulation aménagées principalement pour supporter des débits importants est-ouest et nord-sud constituent des nuisances fortes dans le secteur, en termes de sécurité pour les piétons, de bruit et de pollution.</li>
          <li>S’agissant d’une route numérotée de juridiction provinciale, tout réaménagement du boulevard Ville-Marie et de la rue Notre-Dame à l’est du pont dépend du Ministère des transports, de la mobilité durable et de l’électrification des transports (MTMDET). La rue Notre-Dame à l’ouest du pont ou encore l’avenue Papineau relèvent de la ville de Montréal.</li>
          <li>Des voies de circulation rapide confrontées à des situations de congestion génèrent des enjeux de sécurité pour les automobilistes, provoqués par les ralentissements ou arrêts fréquents.</li>
          <li>L’aménagement autoroutier a créé des terrains résiduels, notamment utilisés comme stationnements, et ne favorise pas un environnement bâti continu. Ils contribuent à créer un effet d’ilot de chaleur et ne favorisent pas le verdissement.</li>
          <li>Le nombre réduit d’intersections franchissables par les piétons et les cyclistes cause une rupture avec les quartiers environnants et leur fonctionnement. Le quartier Centre-Sud, y compris les stations de métro Beaudry et Papineau, est coupé des abords du fleuve et du Vieux-Montréal par cet axe routier.</li>
          <li>La rue Notre-Dame, bien qu’elle desserve la brasserie Molson et l’entreprise de location U-Haul, a perdu sa vocation de rue locale et est devenue une voie d’accès au pont Jacques-Cartier.</li>
          <li>Tout en étant un axe de camionnage important pour le port de Montréal, le boulevard Ville-Marie n’aura plus à supporter le principal générateur de ce secteur, la brasserie Molson, qui a annoncé son départ pour 2021.</li>
          <li>La présence des voies de circulation rapides de nature autoroutière nuit à l’accessibilité et à la mise en valeur d’espaces publics (parc du Pied-du-Courant) et d’édifices patrimoniaux (prison des Patriotes-au-Pied-du-Courant, station Craig).</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

</div>
</div>
