<div class="callout large">
  <div class="text-center">
    <h1>PPU des Faubourgs</h1>
    <h2>Secteur 4 – Site Radio-Canada</h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="medium-8">
      <p>Avec l’édification du site de la Maison Radio-Canada, se crée un pôle d’emplois important à l’est du pont Jacques-Cartier, et en même temps, un méga îlot, en rupture complète avec le reste du tissu urbain environnant du quartier Centre-Sud. C’est aussi la plus importante opération de démolition de bâtiments à l’est du boulevard Saint-Laurent.</p>
      <p>Les projets à venir devront œuvrer à raccrocher ce territoire aux quartiers environnants et en faire un ensemble continu.</p>
      <a href="assets/img/fiches/04/01.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/04/01.jpg"></a>
      <p class="image-caption text-center">Figure 1 - Plan de localisation</p>
  <ul class="zPPP accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Historique</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Après l’ouverture du principal centre de production de Radio-Canada en 1951 sur le boulevard Dorchester Ouest, la dispersion des effectifs de Radio-Canada est rendue nécessaire dès 1952 avec l'apparition de la télévision et les besoins de locaux pour la production des programmes. Ainsi en 1956, Radio-Canada occupe des espaces dans une vingtaine d'immeubles de Montréal.</p>
        <p>En 1957, une commission royale d'enquête sur la radiodiffusion – la commission Fowler – recommande que Radio-Canada se dote d'installations adéquates à Montréal où se concentreraient toutes ses activités pour former le siège français de la société.</p>
        <p>Des hommes d'affaires francophones appuyés par le maire Drapeau encouragent l'établissement de Radio-Canada dans l'est de la métropole afin d'y créer une véritable « cité des ondes ». Les promoteurs du projet désirent voir la partie francophone de la ville se développer afin de contrebalancer l'ouest du centre-ville où commencent à se développer des projets d’affaires importants.</p>
        <p>En 1963, le gouvernement fédéral, la Ville de Montréal et la Société Radio-Canada formalisent le choix du nouveau site de l'entreprise publique de radiodiffusion. Le quadrilatère, bordé par les rues Dorchester (désormais René-Lévesque), Craig, Papineau et Wolfe est ainsi retenu pour recevoir le complexe destiné à regrouper les activités de Radio-Canada.</p>
        <p>Cette opération de rénovation urbaine implique de raser une partie centrale de l'ancien faubourg Québec, soit un des premiers lieux d'urbanisation extra-muros de Montréal, un quartier presque tricentenaire, avec ses écoles, ses églises, ses établissements commerciaux et plus de 600 logements.</p>
        <a href="assets/img/fiches/04/02.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/04/02.jpg"></a>
        <p class="image-caption text-center">Figure 2 – Décembre 1963 : la forme des îlots et le tracé des rues sont encore visibles</p>
        <p>À l’automne 1971 commencent à s'installer les quelque 3000 employés montréalais dans la nouvelle Maison Radio-Canada.</p>
        <p>En 2015, le gouvernement du Canada décide de transférer les activités de la Société Radio-Canada dans un nouveau complexe, mieux adapté aux nouvelles technologies numériques. La nouvelle Maison Radio-Canada sera implantée à même le site actuel, à l'emplacement du stationnement de surface est, entre le prolongement de la rue Alexandre-DeSève et l'avenue Papineau.</p>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Situation actuelle</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>La construction de la nouvelle Maison Radio-Canada est en cours et devrait s'achever en 2019.</p>
        <p>Le site a été divisé en deux parties et vendu à deux propriétaires différents. Un accord de développement signé en 2017 entre la Ville de Montréal et les deux nouveaux propriétaires du site prévoit notamment:</p>
        <ul class="dashlist">
          <li>la réalisation de 20 % de logement social et de 10% de logement abordable sur la partie ouest;</li>
          <li>l’ouverture de plusieurs rues dans le prolongement des rues existantes, soit De la Gauchetière, Beaudry, Panet et Alexandre-DeSève.</li>
        </ul>
        <a href="assets/img/fiches/04/03.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/04/03.jpg"></a>
        <p class="image-caption text-center">Figure 3 : Trame de rues de l’accord de développement</p>
        <h4>Partie est : le site de la nouvelle Maison Radio-Canada</h4>
        <div class="par">
          <p>Propriétaire : Groupe Broccolini<br />Locataire : Radio-Canada (bail de 30 ans)<br />Échéancier : ouverture en 2020 (construction : août 2017 – fin 2019)<br />Description du projet :</p>
          <ul>
            <li>Implantation à l’est de la rue Alexandre-DeSève prolongée;</li>
            <li>Superficie totale de 418 000 pi2 comprenant bureaux, studios et plateaux;</li>
            <li>Deux volumes, de 7 et 4 étages, séparés par un atrium;</li>
            <li>3000 employés (comme actuellement);</li>
            <li>Un stationnement souterrain pouvant accueillir 246 voitures (contre près de 1400 actuellement en surface), 200 vélos et 25 motos, contribuant à réduire l’effet d’ilot de chaleur</li>
          </ul>
        </div>
        <a href="assets/img/fiches/04/04.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/04/04.jpg"></a>
        <p class="image-caption text-center">Figure 4 : Nouvelle Maison Radio-Canada</p>
        <h4>Partie ouest : le site d’un projet immobilier à définir</h4>
        <div class="par">
          <p>Propriétaire : Groupe Mach<br />Échéancier : volet résidentiel, 15 à 20 ans<br />Description du projet :</p>
          <ul>
            <li>La tour existante de 23 étages (1,3 M pi<sup>2</sup>) sera conservée et accueillera des bureaux, avec l’objectif d’attirer des entreprises de haute technologie.</li>
            <li>Le reste du site accueillera des immeubles résidentiels de 6 à 15 étages pour un total d'approximativement 3 000 logements.</li>
            <li>11% de la superficie du site seront destinés à l’aménagement de parcs.</li>
            <li>Trois rues au minimum seront créées dans le prolongement des rues Beaudry, Panet et De La Gauchetière.</li>
          </ul>
        </div>
        <h4>Règlementation d’urbanisme</h4>
        <ul class="dashlist">
          <li>Usage : Zone de mixité autorisant l'habitation, sans limites, les commerces et les services de moyenne intensité. La catégorie M.7C comporte également l'obligation d'occuper le rez-de-chaussée d'un bâtiment avec un usage non résidentiel.</li>
          <li>Forme urbaine : Le mode d'implantation peut être isolé, jumelé ou contigu et la hauteur doit être d'au moins 3 étages et d'au plus 45 mètres, avec une hauteur sur rue d’un maximum de 30 mètres (principe de la surhauteur).</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Principaux enjeux</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>La restructuration du site initial de la Maison Radio-Canada est l’occasion de commencer à rapprocher le quartier Centre-Sud de la rive du fleuve.</p>
        <p>Des réponses sont donc à apporter aux enjeux suivants:</p>
        <ul class="issues">
          <li>L’îlot, de près de 7 hectares, est actuellement en rupture avec la trame viaire environnante. Sa réintégration passe par la reconnexion des rues alentours pour assurer de nouvelles continuités.</li>
          <li>L’implantation de l'ancienne Maison Radio-Canada en retrait de la rue, avec des stationnements de surface au pourtour, est également en rupture avec le cadre bâti traditionnel du quartier. Les futures constructions, par leur implantation et les occupations des rez-de-chaussée, participeront à l’animation des futures rues du site et des boulevards environnants.</li>
          <li>Les terrains utilisés à des fins de stationnement contribuent à créer un effet d’ilot de chaleur et ne favorisent pas le verdissement.</li>
          <li>L’activité spécialisée de la Maison Radio-Canada sur un méga îlot renforce l’isolement du site. La création d’un nouveau milieu de vie grâce à une mixité d’usages avec de nouveaux logements, le maintien de la tour en bureaux, des commerces et des équipements est à privilégier.</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

</div>
</div>
