<div class="callout large">
  <div class="text-center">
    <h1>PPU des Faubourgs</h1>
    <h2>Secteur 3 – Brasserie Molson</h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="medium-8">
      <p>La brasserie Molson est l’une des plus anciennes industries au Canada et l’une des dernières situées au cœur de la ville. Elle est le témoin du passé industriel du faubourg, également lié à la présence du fleuve et du chemin du Roy.</p>
      <a href="assets/img/fiches/03/01.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/01.jpg"></a>
      <p class="image-caption text-center">Figure 1 - Plan de localisation</p>
  <ul class="zPPP accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Historique</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>En 1782, John Molson immigre depuis l’Angleterre et s’installe à Montréal. Il s’associe à Thomas Loyd pour ouvrir une brasserie à l’extrémité est du faubourg Québec, au coin des rues Notre-Dame (Sainte-Marie) et Papineau (Monarque). En 1786, il devient l’unique propriétaire et fait construire un nouveau bâtiment en pierres. La famille Molson acquiert les terrains à l’ouest jusqu’à la rue des Voltigeurs et y fait construire plusieurs résidences, dont la sienne. Durant la première moitié du 19 e siècle, de nombreux agrandissements et modifications ont lieu sur la propriété de la brasserie, tandis que de nouveaux édifices sont construits par la famille Molson sur le reste de leur terrain parmi lesquels une église, un collège et des habitations dont la terrasse Molson, l’un des premiers exemples de maisons en rangée de la ville.</p>
        <p>En 1852, les incendies majeurs qui touchent les faubourgs Saint-Laurent et Québec détruisent environ 1 200 habitations ainsi que la brasserie Molson et l’église. Toutefois, les murs de pierre de la brasserie résistent et les édifices sont reconstruits.</p>
        <p>La brasserie poursuit sa modernisation et sa densification, mais c’est à partir des années 1920 qu’elle prend de l’expansion sur les terrains voisins. Cette vague d’agrandissement implique la démolition des bâtiments non industriels de la famille Molson (église, collège, résidences) au sud de Notre-Dame.</p>
        <a href="assets/img/fiches/03/02.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/02.jpg"></a>
        <p class="image-caption text-center">Figure 2 : Édifices de la Brasserie Molson, rue Notre-Dame, 1910<br />Source : Bibliothèque et Archives nationales du Québec</p>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <a href="assets/img/fiches/03/03.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/03.jpg"></a>
          </div>
          <div class="small-12 medium-6 columns">
            <p class="image-caption">Figure 3 : Vue de la Molson Terrace (date inconnue). L’ensemble comprenait 23 logements. Ce serait l’un des premiers exemples de maisons de type terrasse à Montréal. Les bâtiments furent démolis à la fin des années 1920 pour faire place à l’agrandissement de la brasserie.</p>
          </div>
        </div>
        <p>Au début des années 1950, la brasserie s’étend au nord de la rue Notre-Dame, avec un immeuble à bureaux (toujours existant).</p>
        <p>En 1968, la brasserie acquiert de la Ville de Montréal le parc Campbell (9 230 m<sup>2</sup>), qui occupait le site de l'ancien parc Sohmer. En contrepartie, Molson assume certains coûts de déménagement du parc (acquisition du terrain et aménagement), qui est aujourd'hui situé au sud de la rue Sainte-Catherine entre les rues Alexandre-DeSève et de Champlain (parc Charles-S. Campbell). Les installations de la brasserie s’étendent désormais jusqu’à la rue Panet.</p>
        <p>Au début des années 1990, la brasserie achète à la Ville de Montréal le terrain situé entre les rues Panet et Amherst pour agrandir son entrepôt vers l’ouest et construire un garage. La Ville avait fait l’acquisition de ce terrain du Canadien Pacifique en vue de le revendre à la brasserie, pour favoriser son développement.</p>
        <p>Par la suite, Molson achète à la Ville plusieurs terrains plus à l’est, entre l’avenue Viger et le boulevard René-Lévesque pour y installer ses aires de stationnement.</p>
        <p>Ces différentes acquisitions comprennent la fermeture de nombreuses sections de rues.</p>
        <h4>Évolution des terrains appartenant à la Brasserie Molson</h4>
        <a href="assets/img/fiches/03/04.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/04.jpg"></a>
        <p class="image-caption text-center">Figure 4 – La brasserie Molson en 1825</p>
        <p>Au début du 19<sup>e</sup> siècle, les activités de la brasserie Molson se concentrent dans les bâtiments situés à l’angle des rues Sainte-Marie (Notre-Dame) et Monarque (Papineau). La famille Molson possède les terrains jusqu’à la rue des Voltigeurs où sont construits plusieurs bâtiments résidentiels.</p>
        <a href="assets/img/fiches/03/05.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/05.jpg"></a>
        <p class="image-caption text-center">Figure 5 - La brasserie Molson, en 1926</p>
        <p>Au début du 20<sup>e</sup> siècle, si la brasserie a toujours à peu près les mêmes limites qu’un siècle auparavant, elle s’est considérablement densifiée. Sur les terrains adjacents à l’ouest, on remarque les résidences de la terrasse Molson, l’ancien collège et l’église St-Thomas. La rue Notre-Dame a été élargie et l’industrie a pris plus de place au sud de la rue. Le parc Campbell a remplacé le parc Sohmer en 1926, après l’incendie qui a détruit les installations du parc d’amusement.</p>
        <a href="assets/img/fiches/03/06.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/06.jpg"></a>
        <p class="image-caption text-center">Figure 6 – La brasserie Molson, en 1954</p>
        <p>Entre les années 1920 et les années 1950, la brasserie se développe, impliquant la démolition de la terrasse Molson, de l’ancien collège et de l’église. Un immeuble à bureau est construit au nord de Notre-Dame.</p>
        <a href="assets/img/fiches/03/07.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/07.jpg"></a>
        <p class="image-caption text-center">Figure 7- La brasserie Molson, en 1982</p>
        <p>Au début des années 1980, la brasserie s’est étendue sur le site du parc Campbell (vendu par la Ville en 1968) et a acquis un ancien garage du Canadien Pacifique, ainsi que plusieurs sections de rues. En 1990, la brasserie Molson s’agrandira sur les terrains à l’ouest du garage, avec l’acquisition d’un terrain appartenant à la Ville. Elle y construira un garage et des entrepôts.</p>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Situation actuelle</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>La majeure partie des opérations industrielles de la brasserie ainsi que les bureaux sont installés sur la rue Notre-Dame, tandis qu’un centre d’entreposage est situé sur la rue Dickson dans l’arrondissement Mercier – Hochelaga - Maisonneuve.</p>
        <p>Le site Notre-Dame qui emploie actuellement environ 700 employés, comprend l’aire de production, les réservoirs, l’usine d’embouteillage, des entrepôts, des garages, des bureaux et des aires de stationnement.</p>
        <p>Les activités du site génèrent environ 700 déplacements de camions par jour. La plupart des camions quittent le site de la rue Notre-Dame en direction du pont Jacques-Cartier ou de la rue Dickson. Ainsi l’activité de Molson représente le principal générateur de camionnage du secteur.</p>
        <p>La brasserie Molson, devenue Molson-Coors après une fusion avec l’entreprise américaine Coors en 2005, a annoncé en novembre 2017 son déménagement à Longueuil à l’horizon 2021 et la mise en vente future de sa propriété. Cependant, les activités de bureau seront maintenues sur le site de la rue Notre-Dame après 2021.</p>
        <a href="assets/img/fiches/03/08.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/03/08.jpg"></a>
        <p class="image-caption text-center">Figure 8- La brasserie Molson-Coors, en 2017. Source : Ville de Montréal, Jean-Francois Savaria</p>
        <h4>Règlementation d’urbanisme</h4>
        <ul class="dashlist">
          <li>Usage : seules les activités industrielles ou commerciales sont autorisées au sud de la rue Notre-Dame depuis la rue Amherst jusqu’à la voie ferrée à la limite d’Hochelaga. Les autres fonctions sont donc exclues.</li>
          <li>Forme urbaine : la hauteur maximale au Plan d'urbanisme est de 25 mètres. À noter que la Tour de l’horloge et l'ancien entrepôt frigorifique (Héritage du Vieux-Port) ont une hauteur de 45 mètres, et sont donc en droits acquis. La densité maximale est de 3.</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Principaux enjeux</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>La brasserie Molson est l’une des dernières industries de l’est du centre-ville à déménager. Elle libèrera d’ici 2021 environ 12 hectares de terrains à la jonction entre le Vieux-Montréal et Centre-Sud.</p>
        <p>Des réponses sont donc à apporter aux enjeux suivants:</p>
        <ul class="issues">
          <li>Le site accueillant la brasserie et d’autres activités liées à la famille Molson depuis 1786, il est porteur d’une histoire qui devrait être commémorée et comprend des bâtiments qui pourraient être préservés.</li>
          <li>Les terrains utilisés pour du stationnement contribuent à créer un effet d’ilot de chaleur.</li>
          <li>Il s’agit des derniers grands terrains industriels aux abords du centre-ville.</li>
          <li>L’occupation continue du terrain au sud de la rue Notre-Dame, avec la fermeture successive des rues entre l’avenue Papineau et la rue Amherst, représente une barrière devant le fleuve.</li>
          <li>Les terrains de la propriété de Molson utilisés comme stationnements ont un potentiel de requalification limité avec la configuration actuelle du réseau routier.</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

</div>
</div>
