<div class="callout large">
  <div class="text-center">
    <h1>PPU des Faubourgs</h1>
    <h2>Secteur 5 – Station de pompage Craig</h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="medium-8">
      <p>La station de pompage Craig est l’un des derniers vestiges de la période industrielle de Montréal dans ce secteur. Elle demeure aussi un témoin significatif de l’histoire du réseau d’aqueduc et d’égouts de la Ville de Montréal, l’un des plus anciens en Amérique du Nord.</p>
      <p>Le soin apporté à la composition architecturale des deux façades principales en pierres, le bas-relief représentant les armoiries et la devise de la corporation de Montréal, leurs frontons, leurs corniches ainsi que leurs fenêtres insérées dans des cadres de fonte ornementés confèrent une figure d’édifice public à ce bâtiment de dimension modeste.</p>
      <p>Elle a subi très peu de modification depuis sa construction et possède encore presque toutes ses composantes d’origine.</p>
      <a href="assets/img/fiches/05/01.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/05/01.jpg"></a>
      <p class="image-caption text-center">Figure 1 - Plan de localisation</p>
  <ul class="zPPP accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Historique</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>En 1887, à la suite des recommandations de la Commission des inondations, la Ville de Montréal fait construire deux stations de pompage aux extrémités du réseau d’aqueduc de la ville : les pompes de la rue Craig à l’est de la Ville et les pompes de la rue Mill (station Riverside), à l’ouest. Elles sont conçues par les architectes Maurice Perreault et Albert Mesnard.</p>
        <p>Ces deux stations permettent de rediriger les eaux d’égout dans le fleuve via l’égout collecteur avec quatre pompes à vapeur alimentées au charbon. Grâce à ces installations, mais aussi en raison du dragage du fleuve et de l’aménagement de la voie maritime du Saint-Laurent, Montréal ne subit plus d’inondations printanières.</p>
        <p>Jusqu’aux années 1950, la station Craig demeure fonctionnelle. Avec les différents travaux menés dans le Saint-Laurent, les pompes deviennent inutiles.</p>
        <p>Les abords de la station sont marqués par les grands réaménagements qui ont affecté le quartier : la construction du pont Jacques-Cartier (1930), et de l’axe autoroute Ville-Marie / rue Notre-Dame (début des années 1980). En effet, la station de pompage Craig est le seul bâtiment avec la prison des Patriotes-au-Pied-du-Courant à avoir survécu aux démolitions liées au projet de l’autoroute Ville-Marie et de son prolongement vers l’est. Elle se retrouve aujourd'hui isolée du reste du quartier, sur un terre-plein central entre les voies de l’avenue Viger et de la rue Notre-Dame.</p>
        <div class="row">
          <div class="content-carousel small-10 small-centered columns">
            <div>
              <img src="assets/img/fiches/05/02-01.jpg">
              <p class="image-caption">1921</p>
              <p class="image-caption">La station Craig est entourée de constructions à l’est et à l’ouest sur un îlot compris entre les rues Craig au nord et Notre-Dame au sud.</p>
            </div>
            <div>
              <img src="assets/img/fiches/05/02-02.jpg">
              <p class="image-caption">1947</p>
              <p class="image-caption">Les constructions à l’est de la station Craig ont été démolies pour faire place au pont Jacques-Cartier.</p>
            </div>
            <div>
              <img src="assets/img/fiches/05/02-03.jpg">
              <p class="image-caption">1955</p>
              <p class="image-caption">Le dernier bâtiment voisin, à l‘ouest de la station, sera démoli dans les années 1970 en vue du prolongement de l’autoroute Ville-Marie.</p>
            </div>
          </div>
        </div>
        <p class="image-caption text-center">Figure 2 – Historique des abords de la station</p>
        <div class="row par">
          <div class="small-6 columns">
            <img src="assets/img/fiches/05/03-01.jpg">
          </div>
          <div class="small-5 columns">
            <img src="assets/img/fiches/05/03-02.jpg">
          </div>
        </div>
        <p class="image-caption text-center">Figure 3 – Événements Cité des Ondes (2002) et Eaux Arts Électroniques (2004), par Champ Libre. Photos : Julien Berthier, Guy l'Heureux</p>
        <p>La station Craig est déclarée excédentaire en 1987. Après plusieurs décennies sans activités, la station Craig accueille, en 2002 et en 2004, l’organisme Champ Libre (arts électroniques) pour deux événements artistiques. Cependant, la vétusté des installations empêche tout type d’occupation depuis.</p>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Situation actuelle</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Depuis plusieurs années, le bâtiment est sans usage et son état s’est dégradé. En 2018, des travaux d’urgence ont eu lieu afin de sécuriser la façade. Le sous-sol de la station comporte toujours quatre pompes et leur moteur à vapeur, qui seraient d’origine.</p>
        <a href="assets/img/fiches/05/01.jpg" target="_blank"><img class="thumbnail" src="assets/img/fiches/05/04.jpg"></a>
        <p class="image-caption text-center">Figure 4 - la station Craig en 2018</p>
        <h4>Règlementation d’urbanisme</h4>
        <ul class="dashlist">
          <li>Usages : Les usages résidentiels, commerciaux, équipements collectifs et institutionnels sont autorisés, de même que l'industrie légère.</li>
          <li>Forme urbaine : La hauteur maximale autorisée dans ce secteur est de 6 étages ou 23 mètres, et la densité de 3.</li>
          <li>Patrimoine bâti : Le bâtiment est désigné immeuble d’intérêt patrimonial à la réglementation d’urbanisme et identifié comme immeuble de valeur patrimoniale exceptionnelle dans le cahier d’évaluation patrimoniale du patrimoine urbain.</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Principaux enjeux</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>D’autres travaux sont nécessaires pour conserver ce bâtiment. À moyen terme, le devenir de la station Craig est intimement lié à son environnement. Ainsi, tant que le bâtiment restera implanté dans le terre-plein central d’une route à fort débit, son accessibilité demeurera restreinte et ses usages possibles seront incompatibles avec une ouverture au public.</p>
        <p>Des réponses sont donc à apporter aux enjeux suivants:</p>
        <ul class="issues">
          <li>L’immeuble étant dans un état de détérioration avancée et son intégrité étant menacée, le principal enjeu est sa restauration et sa consolidation à court terme.</li>
          <li>La station est inoccupée depuis 30 ans et seuls des événements artistiques ont fait revivre le bâtiment ponctuellement.</li>
          <li>La présence des voies rapides de part et d’autre de la station ne rend pas son environnement convivial ni son accès sécuritaire. Le manque d’accessibilité est l’obstacle principal pour une mise en valeur de l’édifice et une occupation pérenne.</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

</div>
</div>
