<div class="callout large">
  <div class="text-center">
    <h1>PPU des Faubourgs</h1>
    <h2 class="image-caption">Fiche 3 - Brasserie Molson</h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="medium-8">
      <img class="thumbnail" src="https://placehold.it/850x500">
      <p class="image-caption text-center">Illustration 1 - Plan de localisation</p>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligul.</p>
      </article>

      <article class="sheet-article">
        <h1>Portrait</h1>
        <p>La brasserie Molson est l’une des plus anciennes industries au Canada et l’une des dernières installations au cœur de la ville. Elle est le témoin du passé industriel du faubourg, lié à la présence du fleuve et du chemin du Roy.</p>
        <div class="accordion" data-accordion data-allow-all-closed="true">
          <div class="accordion-item" data-accordion-item="">
            <a href="#" class="accordion-title">Lire plus</a>
            <div class="accordion-content" data-tab-content="" style="display: none;">
              <h2>Historique</h2>
              <p>En 1782, John Molson immigre depuis l’Angleterre et s’installe à Montréal. Il s’associe à Thomas Loyd pour ouvrir une brasserie à l’extrémité est du faubourg Québec, au coin des rues NotreDame (Sainte-Marie) et Papineau (Monarque). En 1786, il devient l’unique propriétaire et fait construire un nouveau bâtiment en pierres. La famille Molson acquiert les terrains à l’ouest jusqu’à la rue des Voltigeurs et y fait construire plusieurs résidences, dont la sienne. Durant la première moitié du 19e siècle, de nombreux agrandissements et modifications ont lieu sur la propriété de la brasserie, tandis que de nouveaux édifices sont construits par la famille Molson sur le reste de leur terrain parmi lesquels une église, un collège et des habitations dont la terrasse Molson, l’un des premiers exemples de maisons en rangée de la ville.</p>
              <p>En 1852, les incendies majeurs qui touchent les faubourgs Saint-Laurent et Québec détruisent environ 1 200 habitations ainsi que la brasserie Molson et l’église. Toutefois les murs de pierre de la brasserie résistent et les édifices sont reconstruits.</p>
              <p>La brasserie poursuit sa modernisation et sa densification, mais c’est à partir des années 1920 qu’elle prend de l’expansion sur les terrains voisins. Cette vague d’agrandissement implique la démolition des bâtiments non industriels de la famille Molson (église, collège, résidences) au sud de Notre-Dame.</p>
              <p>Au début des années 1950, la brasserie s’étend au nord de la rue Notre-Dame, avec un immeuble à bureaux (toujours existant).</p>
              <p>En 1968, la brasserie acquiert de la Ville de Montréal le parc Campbell (9 230 m2), qui occupait le site de l'ancien parc Sohmer. En contrepartie, Molson assume les coûts de déplacement du parc (acquisition du terrain et aménagement), qui est aujourd'hui situé au sud de la rue SainteCatherine entre les rues Alexandre-De Sève et de Champlain (parc Charles-S. Campbell). Les installations de la brasserie s’étendent désormais jusqu’à la rue Panet.</p>
              <p>Au début des années 1990, la brasserie achète à la Ville de Montréal le terrain situé entre les rues Panet et Amherst pour agrandir son entrepôt vers l’ouest et construire un garage.</p>
              <p>Dans les mêmes années, plus à l’est, Molson acquiert (auprès de la ville ou MTMDET ou SPJCCi ?) des terrains entre la rue Viger et le boulevard René-Lévesque pour y installer ses aires de stationnement.</p>
              <p>Au fur et à mesure de ces acquisitions, ce sont près de XXX mètres de rue qui disparaissent.</p>

              <img class="thumbnail" src="https://placehold.it/850x500">
              <p class="image-caption text-center">Illustration 2 : Édifices de la Brasserie Molson, rue Notre-Dame, 1910</p>
              <p class="image-caption text-center">source : Bibliothèque et Archives nationales du Québec</p>
              <hr />

              <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6"><img class="thumbnail" src="https://placehold.it/425x200"></div>
                <div class="cell small-12 medium-6">
                  <p class="image-caption">Vue de la Molson Terrace (date inconnue). L’ensemble comprenait 23 logements. Ce serait l’un des premiers exemples de maisons en rangée à Montréal. Les bâtiments furent démolis à la fin des années 1920 pour faire place à l’agrandissement de la brasserie.</p>
                </div>
              </div>

              <h2>Évolution des terrains appartenant à la Brasserie Molson</h2>
              <p class="image-caption">1825</p>
              <img class="thumbnail" src="https://placehold.it/850x350">
              <p class="image-caption">Au début du 19e siècle, les activités de brassage de la brasserie Molson se concentrent dans les bâtiments situés à l’angle des rues Sainte-Marie (Notre-Dame) et Monarque (Papineau). La famille Molson possède les terrains jusqu’à la rue des Voltigeurs où sont construits plusieurs bâtiments résidentiels.</p>
              <p class="image-caption">1926</p>
              <img class="thumbnail" src="https://placehold.it/850x350">
              <p class="image-caption">Au début du 20e siècle, si la brasserie a toujours à peu près les mêmes limites qu’un siècle auparavant, elle s’est considérablement densifiée. Sur les terrains adjacents à l’ouest, on remarque les résidences de la Terrace Molson, l’ancien collège et l’église St-Thomas. La rue Notre-Dame a été élargie et l’industrie a pris plus de place au sud de la rue. Le parc Campbell a remplacé le parc Sohmer en 1926, après l’incendie qui a détruit les installations du parc d’amusement.</p>
              <p class="image-caption">1954</p>
              <img class="thumbnail" src="https://placehold.it/850x350">
              <p class="image-caption">Entre les années 1920 et les années 1950, la brasserie se développe, impliquant la démolition de la Terrace Molson, de l’ancien collège et de l’église. Un immeuble à bureau est construit au nord de Notre-Dame.</p>
              <p class="image-caption">1982</p>
              <img class="thumbnail" src="https://placehold.it/850x350">
              <p class="image-caption">Au début des années 1980, la brasserie s’est étendue sur le site du parc Campbell (vendu par la Ville en 1968) et a acquis un ancien garage du Canadien Pacifique, ainsi que plusieurs sections de rues.</p>

              <h2>Situation actuelle</h2>
              <p>La majeure partie des opérations industrielles de la brasserie ainsi que les bureaux sont installées rue Notre-Dame Est, tandis qu’un centre d’entreposage est situé sur la rue Dickson dans l’arrondissement Mercier – Hochelaga - Maisonneuve.</p>
              <p>Le site Notre-Dame qui emploie actuellement environ 700 employés, comprend l’aire de production, les réservoirs, l’usine d’embouteillage, des entrepôts, des garages, des bureaux et des aires de stationnement.</p>
              <p>Les activités du site génèrent environ 700 déplacements de camions par jour. La plupart des camions quittent le site de la rue Notre-Dame en direction du pont Jacques-Cartier ou de la rue Dickson. Ainsi l’activité de Molson représente le principal générateur de mouvement de camions du secteur et contribue aux débits de camions dans le corridor Ville-Marie.</p>
              <p>La brasserie Molson, devenue Molson-Coors après une fusion avec l’entreprise américaine Coors en 2005, a annoncé en novembre 2017 son déménagement à Longueuil à l’horizon 2021. Certains bâtiments devraient être conservés et certaines activités maintenues, selon ce que la brasserie a annoncé, mais le projet de reconversion du site reste à définir. Le reste de la propriété sera mis en vente. </p>

              <img class="thumbnail" src="https://placehold.it/850x500">
              <p class="image-caption text-center">La brasserie Molson-Coors, en 2017. Source : Ville de Montréal, Jean-Francois Savaria</p>

              <h2>Documents d’urbanisme</h2>
              <ul>
                <li>Usage : seules les activités industrielles ou commerciales sont autorisées au sud de la rue Notre-Dame depuis la rue Amherst jusqu’à la voie ferrée à la limite d’Hochelaga. Les autres fonctions sont donc exclues.</li>
                <li>Forme urbaine : la hauteur maximale autorisée est de 25 mètres (Plan d’urbanisme). La tour de l’horloge et l'ancien entrepôt frigorifique (L'héritage) ont une hauteur de 45 mètres, et sont donc en droits acquis. La densité maximale est de 3*.</li>
              </ul>
              <p>*calcul de la densité = superficie totale de plancher / superficie du terrain</p>
            </div>
          </div>
        </div>
      </article>

      <article class="sheet-article">
        <h1>Principaux enjeux</h1>
        <p>Le déménagement de la majeure partie des installations de la brasserie Molson impose une réflexion sur l’avenir de ce site, car sa localisation stratégique est porteuse de nombreux enjeux déclinables en trois axes :</p>
        <ul>
          <li>Assurer la jonction entre des logiques est-ouest (s’inscrire entre le Vieux-Montréal, le pont Jacques-Cartier et le port de Montréal) le long du fleuve et des logiques nord-sud (s’inscrire dans la continuité du quartier centre-sud et l’ouvrir sur le fleuve). </li>
          <li>Créer les condiQons d’un nouveau milieu de vie ancré aux quartiers environnants et complémentaire à leur fonctionnement, en saisissant l’opportunité de la transformation de nombreux terrains pour répondre aux besoins de fonctions non pourvues actuellement : équipements, services...</li>
          <li>Se réapproprier les espaces situés entre la rue Notre-Dame et le site de Radio Canada pour participer à la transformation de l’autoroute Ville-Marie et à la réduction de ses impacts, sans laquelle le développement de ce site restera isolé du reste du centre-ville.</li>
        </ul>
        <div class="accordion" data-accordion data-allow-all-closed="true">
          <div class="accordion-item" data-accordion-item="">
            <a href="#" class="accordion-title">Lire plus</a>
            <div class="accordion-content" data-tab-content="" style="display: none;">
              <p>D’un point de vue spatial, les principaux enjeux à régler sont :</p>
              <ul>
                <li>Au sud et à l’est, face au fleuve, à l’île Notre-Dame et au pied du pont Jacques-Cartier, il s’agit de s’interroger sur le rapport au fleuve (accès, perspectives…), tout en tenant compte de la présence des activités du Port de Montréal et de la présence des voies ferrées (voir aussi fiche 7 – Terrains riverains).</li>
                <li>À l’ouest, en lien avec le Vieux-Montréal et les récents développements entre les rues de la commune et Notre-Dame, il s’agit d’imaginer de nouvelles continuités urbaines.</li>
                <li>Au nord, en lien avec le quartier Centre-Sud et le renouvellement urbain qui va s’opérer sur le site de Radio Canada et la transformation souhaitée de l’axe de l’autoroute Ville-Marie (voir fiche 8 – Axe Ville-Marie – Notre-Dame), il s’agit aussi d’imaginer de nouvelles continuités à partir de la trame urbaine qui prévalait avant le processus de « tabula rasa » des années 60 et 70 qui a fait disparaitre plusieurs ilots du faubourg, (voir la fiche 2 – Radio Canada et la fiche 8 – Axe Ville-Marie – Notre-Dame).</li>
              </ul>
              <p>D’un point de vue fonctionnel, les principaux enjeux à régler sont :</p>
              <ul>
                <li>Définir les vocations possibles de ces vastes terrains industriels, en répondant aux besoins de nouveaux milieux de vie animés, accessibles et résilients</li>
                <li>Mettre en valeur le patrimoine industriel existant, afin de conserver l’histoire particulière et unique de ce site grâce aux constructions d'intérêt patrimonial</li>
              </ul>
              <p>D’un point de vue volumétrique, les principaux enjeux à régler sont :</p>
              <ul>
                <li>Tenir compte des constructions existantes pour les mettre en valeur et rendre possible leur adaptation, tout en répondant aux objectifs de densité pour une ville compacte et durable</li>
                <li>Créer un nouveau front urbain qui soit à l’échelle du fleuve et qui tienne compte des volumétries existantes le long de la rue de la commune depuis le Vieux-Montréal</li>
                <li>Structurer les alignements nord et sud de la rue Notre-Dame</li>
                <li>Créer un nouveau front urbain le long du futur boulevard urbain dans l’axe Ville-Marie – Notre-Dame</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="sheet-article">
        <h1>Orientation</h1>
        <p>Le redéveloppement du site Molson va avoir un impact sur l’ensemble du secteur. Il constitue un élément pivot pour les continuités urbaines de cette partie du centre-ville. Il doit trouver dans ses composantes de redéveloppement, les ingrédients nécessaires à la constitution de milieux de vie représentatifs du centre-ville.</p>

        <div class="accordion" data-accordion data-allow-all-closed="true">
          <div class="accordion-item" data-accordion-item="">
            <a href="#" class="accordion-title">Lire plus</a>
            <div class="accordion-content" data-tab-content="" style="display: none;">
              <ol>
                <li>
                  <p style="font-weight: bold">Définir l’intérêt patrimonial du site</p>
                  <p>Un processus d’évaluation patrimoniale a été mis en place à l’été 2018. Il vise à préparer un énoncé d’intérêt patrimonial, qui identifiera les différentes valeurs et caractéristiques du lieu (historique, symbolique, sociale, technique, etc.). Les membres du groupe de travail qui produit l’énoncé représentent la Brasserie Molson Coors, la division du patrimoine de la Ville de Montréal, la division de l’urbanisme de l’arrondissement de Ville-Marie et la firme consultante en patrimoine.</p>
                </li>
                <li>
                  <p style="font-weight: bold">Définir les lignes directrices du redéveloppement du site en amont du déménagement</p>
                  <p>Une modification de la vocation industrielle de ce site pourrait être envisageable dans le contexte d’un redéveloppement du secteur. Un changement de vocation en vue d’introduire des usages générant moins de nuisances qu’un usage industriel et permettant d’inclure de l’habitation et des équipements et services devra se faire selon plusieurs conditions :</p>

                  <ul>
                    <li>
                      <span style="font-weight: bold">Favoriser la mixité urbaine</span>
                      <ul>
                        <li>Développer une diversité d’usages (commerces, bureaux, équipements, habitations);</li>
                        <li>Inclure un minimum de 20 % de logements sociaux dans le cas d’un développement résidentiel;</li>
                        <li>Poursuivre le caractère mixte et commercial caractéristique de la rue Notre-Dame.</li>
                      </ul>
                    </li>
                    <li>
                      <span style="font-weight: bold">Réintroduire du domaine public mettant en valeur le site et répondant aux besoins du quartier</span>
                      <ul>
                        <li>Établir une trame de rue qui connecte le Vieux-Montréal et Centre-Sud;</li>
                        <li>Intégrer un nouveau parc au cœur de la trame de rue;</li>
                        <li>Localiser les espaces publics de manière à offrir des perspectives sur le fleuve et le pont;</li>
                        <li>Prévoir, selon les besoins, les emplacements pour des équipements collectifs.</li>
                      </ul>
                    </li>
                    <li>
                      <span style="font-weight: bold">Intégrer les nouveaux bâtiments à leur contexte</span>
                      <ul>
                        <li>Conserver et mettre en valeur les éléments d’intérêt patrimonial;</li>
                        <li>Assurer une continuité du cadre bâti du Faubourg Québec, à l'ouest de la rue Amherst, à travers l'implantation au sol, la relation à la rue et la volumétrie des nouvelles constructions;</li>
                        <li>Contribuer à la qualité du nouveau front fluvial et à la définition du paysage autour du nouveau boulevard urbain.</li>
                      </ul>
                    </li>
                    <li>
                      <span style="font-weight: bold">Promouvoir un développement urbain et immobilier prenant en compte les problématiques de développement durable à toutes les échelles d’intervention</span>
                      <ul>
                        <li>Rechercher les meilleures qualifications pour les constructions neuves (Leed,…);</li>
                        <li>Intégrer dans la conception des espaces publics les meilleures pratiques en gestion des eaux et en lutte aux ilots de chaleur</li>
                        <li>Promouvoir les principes de l’économie circulaire dans les interventions</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ol>

              <img class="thumbnail" src="https://placehold.it/850x600">

            </div>
          </div>
        </div>
      </article>

      <br />



  <ul class="zPPP accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Portrait</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligul.</p>
        <h1>Historique</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Principaux enjeux</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
      <a href="#" class="accordion-title text-center">Orientation</a>
      <div class="accordion-content" data-tab-content="" style="display: none;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius dui quis molestie convallis. Integer imperdiet posuere felis ut pharetra. In ac mi quam. Nulla malesuada sodales lectus non vehicula. Suspendisse vitae nulla et elit pretium semper eget et justo. Vivamus nunc tortor, posuere ac tincidunt vel, convallis vitae enim. Suspendisse odio risus, tincidunt id sapien quis, ultricies lobortis mi. Donec nec rutrum odio. Aliquam tincidunt, purus nec egestas venenatis, enim tortor accumsan ligula, non ullamcorper diam dui non arcu. Cras facilisis nisi quis nunc dictum, non scelerisque purus tincidunt. Nam eu libero quis tortor viverra eleifend a vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius magna neque, ut laoreet mauris ullamcorper eu. Cras convallis, nisi a porta pretium, arcu nisi consequat velit, non elementum nunc lacus in orci.</p>
      </div>
    </li>
  </ul>
</div>

</div>
</div>
