#map {
  position: relative;
}

.zones {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;

  path {
    fill: #5696AD;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: none;
  }
}
.zones:hover {
  opacity: 0.5;
}

.zones-highlight {
  opacity: 0.5;
}

.tooltip {
  display: none;
}

.tooltip.active {
  display: block;
}

.modal {
  height: 95vh;
  padding-right: 32px;
  padding-top: 32px;
}

.close-button {
  position: absolute;
  top: 0; right: 0;
}

.close-button:hover {
  > span {
    color: red;
  }
}

.close-button > span {
  background: $medium-gray;
  color: $off-white;
  display: block;
  height: 32px;
  width: 32px;
}

.reveal-overlay {
  //opacity: 0.1;
}
