<div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
  <div class="app-dashboard-sidebar-title-area">
    <div class="app-dashboard-close-sidebar">
      <h3 class="app-dashboard-sidebar-block-title">Secteurs</h3>
      <!-- Close button -->
      <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
        <span aria-hidden="true"><a href="#"><img src="assets/img/x.png" alt="Arrow 64" width="24" height="24"></a></span>
      </button>
    </div>
    <div class="app-dashboard-open-sidebar">
      <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
        <span aria-hidden="true"><a href="#"><img src="assets/img/arrow.png" alt="Arrow 63" width="24" height="24"></a></span>
      </button>
    </div>
  </div>
  <div class="app-dashboard-sidebar-inner">
    <ul class="menu vertical">
      <li>
        <a class="menu-item"  data-toggle="fiche01Modal" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 1: Find de l'autoroute Ville-Marie / Accès au pont Jacques-Cartier</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="fiche02Modal" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 2: Abords du Fleuve</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="fiche03Modal" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 3: Brasserie Molson</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="fiche04Modal" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 4: Site Radio-Canada</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="fiche05Modal" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 5: Station Craig</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 6: Prison des Patriotes-Au-Pied-du-courant</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 7: Terrain « Porte Sainte-Marie »</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 8: Hôpital de la Miséricorde</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 9: Tête de pont – Pont Jacques-Cartier</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 10: Village</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 11: Centre-Sud</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 12: Pôle institutionnel</span>
        </a>
      </li>
      <li>
        <a class="menu-item" data-toggle="animatedModal10" href="#">
          <span class="app-dashboard-sidebar-text">Secteur 13: Principales artères commerciales</span>
        </a>
      </li>
    </ul>
  </div>
</div>
