<div class="small-menu show-for-small-only">
  <ul>
    <li><a href="#" data-toggle="animatedModal10">Site 1: Hôpital de la miséricorde</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 2: Site de radio Canada</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 3: Brasserie Molson</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 4: Site historique du Pied-du-courant</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 5: Portes Sainte-Marie</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 6: Le pont J. cartier et ses accès</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 7: Terrains riverains – fenêtres sur le fleuve</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 8: Axe Ville-Marie / Notre-Dame</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 9: La rue Ontario et ses abords</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 10: La rue Sainte-Catherine et ses abords</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 11: Le secteur Saint-Jacques</a></li>
    <li><a href="#" data-toggle="animatedModal10">Site 12: Ancienne station Craig</a></li>
  </ul>
</div>
